.homepage {
  background-color: var(--primary) !important;
}

.fc-header-toolbar {
  margin-bottom: 0.5rem !important;
}

.fc-media-screen {
  margin: 0 5rem !important;
}

.fc-toolbar-title {
  font-size: 3rem !important;
}

.fc-day {
  background-color: var(--background);
}

.fc-day-today {
  background-color: #beb39d !important;
}

.fc-today-button {
  display: inline-block !important;
  padding: 1rem 1.8rem;
  background-color: var(--secondary) !important;
  font-size: 1.2rem;
  border-radius: 4rem;
  color: var(--text-primary);
  border: 2px solid transparent;
  letter-spacing: 0.05rem;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}

.fc-button {
  padding: 1rem 1.8rem;
  background-color: var(--secondary) !important;
  font-size: 1.2rem;
  border-radius: 4rem;
  color: var(--text-primary);
  border: 2px solid transparent;
  border-color: var(--secondary) !important;
  transition: 0.3s ease;
  margin: 0.3rem !important;
  text-transform: capitalize !important;
}

.fc-next-button {
  margin-right: 1rem !important;
}

.fc-button:hover {
  transform: scale(1.05) !important;
  background: var(--secondary);
  color: var(--primary);
  border: 2px solid var(--text-primary);
  filter: drop-shadow(0 0 15px var(--text-primary));
}

.fc-today-button:hover {
  transform: scale(1.05);
  background: var(--secondary);
  color: var(--primary);
  border: 2px solid var(--text-primary);
  filter: drop-shadow(0 0 15px var(--text-primary));
}

.fc-h-event {
  border: none;
  height: 100% !important;
}

.fc-event-title-container {
  background-color: var(--secondary) !important;
  text-align: center;
  padding: 0.5rem;
}

.fc-col-header-cell {
  background-color: var(--secondary);
  color: white;
  font-size: 1.3rem !important;
  padding: 1rem 0 !important;
}

@media screen and (min-width: 1200px) {
  .fc-daygrid-day-top {
    font-size: 1.5rem !important;
  }
}

@media screen and (max-width: 576px) {
  .fc-toolbar-title {
    font-size: 1rem !important;
  }

  .fc-button {
    font-size: 0.8rem !important;
    margin: 0.2rem !important;
  }

  .fc-header-toolbar {
    margin-bottom: 1rem !important;
  }

  .fc-view-harness {
    overflow: visible !important;
  }

  .fc-media-screen {
    margin: 0 1rem !important;
  }

  .fc-col-header-cell {
    font-size: 1rem !important;
    padding: 0.5rem 0 !important;
  }
}
