.confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}

.confirmation-modal-content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

.confirmation-modal-content h3{
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.confirmation-modal-buttons {
  margin-top: 1rem;
}

.confirmation-modal-buttons button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.confirm-button {
  background-color: #ee6a6a;
  color: white;
}

.confirm-button:hover {
  background-color: #fd5353;
}

.cancel-button {
  background-color: #ddd;
  color: black;
}

.cancel-button:hover {
  background-color: #c2c2c2;
}
